
#container{
	top:30px;
	background-color: #fff;
	outline: 1px solid #000;
	width: 310px;
	height : 310px;
	font-size: 0;
	margin:auto;
	padding: 0;
	border: none;
}
.grid{
	border: none;
	margin:0;
	padding:0;
	height: 40px;
	width: 30px;
	outline: 1px solid #000;
	background-color: #fff;
	display: inline-block;
}

.fill{
	background-color: #f4f4f4;
}

.empty{
  background-color: #fff;
}
